.main-nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 46px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 46px;
  font-size: 13px;
  font-weight: 900;
  color: #515359;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
