.promo__title {
  text-align: left;
  font-size: 60px;
  color: #ffffff;
  margin: 0;

  &--bold {
    font-weight: 900;
    line-height: 61px;
  }

  &--light {
    font-weight: 100;
  }

  &--dark {
    font-weight: 900;
    font-size: 100px;
    color: #3a3c40;
  }
}

.promo {
  padding: 214px 0 0;
  position: relative;
  z-index: 0;
  
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1000px;
    background-image: url(../img/back-main.png);
    top: 0;
    z-index: -3;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.promo__img {
  margin-top: -154px;
  margin-left: -180px;
  z-index: -1;
}

.promo__wrapper {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.promo__button {
  background-color: #cb003d;
  color: #ffffff;
  border: none;
  font-weight: 700;
  font-size: 16px;
}

.promo__desc {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
