@mixin footer-title {
  font-size: 13px;
  color: #3a3c40;
}

@mixin footer-text {
  font-size: 13px;
  color: #747780;
  font-weight: 300;
}

@mixin footer-flex {
  display: flex;
  flex-direction: row;
}
